
@font-face {
    font-family: 'poppinsblack';
    src: url('/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsblack_italic';
    src: url('/fonts/poppins-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/poppins-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsbold';
    src: url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextrabold';
    src: url('/fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextralight';
    src: url('/fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('/fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextralight_italic';
    src: url('/fonts/poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('/fonts/poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsitalic';
    src: url('/fonts/poppins-italic-webfont.woff2') format('woff2'),
         url('/fonts/poppins-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight_italic';
    src: url('/fonts/poppins-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/poppins-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsmedium';
    src: url('/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "poppinsregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	vertical-align: baseline;
}
    
:root {
	--main-color: #5AA3E8;
	--main-light: #A7CEF3;
	--accent-color: #E89F5A;
	--dark-color: #5F758A;
	--fav-color: #E8596A;
}



body {
	display: grid;
	grid-template-rows: 10rem 1fr;
	grid-template-columns:  13rem 4fr;
	min-height: 100vh;
	max-width: 100vw;

}

.header{
	grid-column: 2/3;
	background-color: var(--main-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.clear-library {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	
}
.delete-caption {
	opacity: 0;
	transition: all .2s ease-in-out;
	font-size: .75rem;
	font-family: "poppinsbold";
}

.clear-library:hover .delete-caption {
	opacity: 1;
}

.chosen {
	fill: var(--accent-color);
	filter: drop-shadow(0px 0px 10px var(--main-light));
}


.library-title {
	font-family: 'poppinsextrabold';
	font-size: 4rem;
}

.filter-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	
}

.filter-title {
	font-size: 1.5rem;
	font-family: 'poppinsextrabold';
}

.icons {
	display: flex;
	gap: 1.25rem;
}

.icon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .25rem;
}

.caption {
	opacity: 0;
	transition: all .2s ease-in-out;
	font-size: .75rem;
	font-family: "poppinsbold";
}

.icons:hover .caption {
	opacity: 1;
}



.feather {
	width: 3rem;
	height: 3rem;
}

.sidebar {
	background-color: var(--main-color);
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}

.Sidebarqueue, .Sidebarfavorites{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
	margin: 1rem ;
	height: 27.9rem;
}

.instructions {
	width: 9rem;
	line-height: 1.25rem;
}

.sidebar-heading {
	font-size: 1.5rem;
	font-family: "poppinsbold";
	border-top: solid 2px var(--dark-color);
	border-bottom: solid 2px var(--dark-color);
	padding: .75rem;
	margin: .25rem;
}

.mini-queue {
	background: var(--accent-color);
	background: linear-gradient(90deg, var(--main-light) 92%, var(--accent-color) 92%);
}

.mini-favorite {
	background: var(--dark-color);
	background: linear-gradient(90deg, var(--dark-color) 92%, var(--fav-color) 92%);
	box-shadow: 2px 2px 8px black;
	
}

.miniCard {
	width: 8rem;
	height: 4.55rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--dark-color);
	border-radius: 1rem;
	padding: 1rem;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	
}

.miniCard > h3 {
	font-size: 1rem;
	font-family: "poppinsbold";
}

.mini-card-author {
	margin-top: 1rem;
	font-size: .75rem;
	font-family: "poppinsmedium";
}
#add-book-section {
	position: absolute;
	grid-column: 1/2;
	grid-row: 1/2;
	top: 4.09rem;
	left: 5.125rem;
}

#add-book-section > h2 {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-family: "poppinsextrabold";
}

#showDialog {
	background-color: white;
	border: none;
}

#showDialog > img {
	height: 8rem;
	width: 8rem;
}

#add-book {
	background-color: var(--main-color);
	width: 30rem;
	height: 33rem;
	border: 1px solid var(--dark-color);
	border-radius: 2rem;
	box-shadow: 10px 10px 40px var(--accent-color);
	padding: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	
}

.form-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

.form-header > h1 {
	font-size: 2rem;
	font-family: 'poppinsextrabold';
}

#exit-button, .empty {
	width: 4rem;
	height: 4rem;
}

#exit-button {
	will-change: filter;
  
	transition: filter .2s ease-out;
}

#exit-button:hover {
	filter: drop-shadow(0 0 10px var(--accent-color))
}
form > input {
	width: 28rem;
	height: 2.5rem;
	border: none;
	padding: 0 1rem 0 1rem;
	font-size: 1.25rem;
	font-family: 'poppinsbold';

}

form > label {
	font-size: 1.5rem;
	font-family: 'poppinsmedium';
	padding: 1.5rem 0 .2rem .5rem
}

.form-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	font-size: 1rem;
	font-family: 'poppinsbold';

}

.form-read {
	display: flex;
	align-items: center;
	padding-left: 2rem;
}

.form-read > label {
	font-size: 2rem;
	font-family: 'poppinsbold';
	padding: 1rem;
}

.form-read > input {
	width: 2rem;
	height: 2rem;
	accent-color: var(--dark-color);
}

.form-footer > input {
	padding-right: 2rem;
	height: 4rem;
	width: 13rem;
	border: none;
	border-radius: 2rem;
	
	padding: .5rem;
	font-family: 'poppinsbold';
	font-size: 2rem;
	background-color: var(--accent-color);
	font-size: 2rem;
	box-shadow: 2px 2px 4px var(--dark-color);
	transition: box-shadow 0.2s ease-in-out;
}

.form-footer > input:hover {
	box-shadow: 2px 2px 4px  black;
}



.content {
	display: grid;
	position: relative;
}

#card-container {
	height: 100%;
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(auto-fill, 15rem);
	grid-template-rows: repeat(auto-fill, 15rem);
	gap: 2rem;


}

.card {
	margin: 2rem;
	width: 11rem;
	height: 7.5rem;
	border-radius: 1rem;
	background: var(--main-light);
	background: linear-gradient(90deg, var(--main-light) 95%, var(--accent-color) 95%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 2rem 5.5rem 2rem;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	position: relative;
	
}

.fav {
	position: absolute;
	top: .5rem;
	left: 1rem;
}

.que {
	position: absolute;
	top: .5rem;
	right: 1rem;
}

.card.read {
	background: var(--dark-color);
	background: linear-gradient(90deg, var(--dark-color) 95%, var(--accent-color) 95%);
}

.card > h2 {
	font-family: 'poppinsbold';
	font-size: 1.25rem;
	margin-bottom: .4rem;
}

.card > p {
	font-family: 'poppinsregular';
	margin: .25rem;
	font-size: 1rem;
}

.buttonWrapper {
	position: absolute;
	left: 0;
	bottom: .75rem;
}
.buttonWrapper > button {
	font-family: 'poppinsmedium';
	margin: .25rem;
	background-color: var(--accent-color);
	border: none;
	border-radius: 1rem;
	font-size: 1rem;
	width: 10rem;
	height: 1.5rem;
}

#emptyCard {
	border: none;
	padding: none;
}

.footer {
	position: fixed;
  	left: 0;
 	bottom: 0;
 	width: 100%;
	height: 2rem;
	background-color: rgb(43, 41, 41);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

::backdrop {
    background-color: var(--dark-color);
    opacity: .75;
}

